.div-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.unorder-Movies {
  display: flex;
  background-color: #f0e3cc;
  flex-wrap: wrap;
  margin: 0px !important;
  width: 100%;
  padding: 0px !important;
}
.bottom-container {
  width: 100%;
  font-family: 'Roboto';
  background-color: #f0e3cc;
  min-height: 100%;
  padding: 10px;
}
.pagination-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.button {
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: 13px;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.page-count {
  background-color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px 5px 3px 5px;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #000000;
}
.empty-view-container,
.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.ul-items {
  display: flex;
  padding-left: 0px !important;
  flex-wrap: wrap;
}
