.div-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.unorder-Movies {
  display: flex;
  background-color: #f0e3cc;
  flex-wrap: wrap;
  margin: 0px !important;
  width: 100%;
  padding: 0px !important;
}
.head {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.bottom-container {
  width: 100%;
  font-family: 'Roboto';
  background-color: #f0e3cc;
  min-height: 100%;
  padding: 10px;
}
